* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.whole-page {
  background-image: url('./assets/Background.png');
  height: 100%;
  width: 100%;
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.container-row {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-content: center;
}
