/**
 * Fix user-agent
 */

* {
  box-sizing: border-box;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map {
  height: 100%;
  width: 100%;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  background-color: gray;
  overflow: hidden;
}

.icon {
  height: 84px;
  width: 84px;
  position: absolute;
}

.enemy {
  height: 84px;
  width: 84px;
  position: absolute;
}

.bullet {
  width: 48px;
  position: absolute;
}
